*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    color:darkgreen;
}
body{
    background-image:url("../images/grocery1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
center{
    display:block;
}
.tb{
    margin-left: 20px;
    margin-right: 20px;
}
